/*****************************************
*
* GLOBAL STYLES
*
******************************************/
body {
	background-image: url('chatbg.png');
	background-attachment: scroll;
	overflow: hidden;
	font-family: Pterra;
	font-size: 13px;
	color: #c9c1ba;
	line-height: 1.2;
	word-wrap: break-word;
	text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
	color: #909090;
	cursor: url('pointer.cur'), auto;
	word-wrap: break-word;
	margin: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

@font-face {
	font-family: "Pterra";
	src: url('pterra.ttf') format('truetype');
  }
  @font-face {
	font-family: "Honoka Mincho";
	src: url('HonokaMincho.ttf') format('truetype');
  }

  @font-face {
	font-family: "Dauphin";
	src: url('elf.ttf') format('truetype');
  }

  @font-face {
	font-family: "MasonAlternate";
	src: url('dwarf.ttf') format('truetype');
  }

  @font-face {
	font-family: "Arabolical";
	src: url('sand.ttf') format('truetype');
  }

  @font-face {
	font-family: "Xaphan";
	src: url('hell.ttf') format('truetype');
  }

  @font-face {
	font-family: "FriskyVampire";
	src: url('undead.ttf') format('truetype');
  }

  @font-face {
	font-family: "Thief by The Riddler";
	src: url('orc.ttf') format('truetype');
  }

  @font-face {
	font-family: "Kingthings Petrock";
	src: url('draconic.ttf') format('truetype');
  }

  @font-face {
	font-family: "Emperialisme";
	src: url('lupian.ttf') format('truetype');
  }


h1 {
	margin-bottom: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #744;
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 1);
	display: block;
	line-height: 35px;
	margin: 0;
	margin-top: 0;
}

.loud1 {
	font-family: monospace;
	color: #999;
}

.loud0 {
	font-family: monospace;
	color: #fff;
}



.container {
	margin-top: 5px;
	margin: 0;
	left: 8px;
	padding: 0;

	position: relative;
}

.steplabel {
	font-size: 11px;
	width: 64px;
	white-space: nowrap;
	position: relative;
	left: -28px;
	top: 6px;
	text-align: center;
	background: rgba(0, 0, 0, 0.5);
}

.steps {
	position: absolute;
	top: -4px;
	left: -3px;
	display: flex;
	justify-content: space-between;
	width: 200px;
}

.step {
	width: 5px;
	background: #10100e;
	height: 5px;
	border: 2px solid #201f1a;
	border-radius: 50%;
}

.step.selected {
	border: 2px solid #aa7049;
}

.step.completed {
	border: 2px solid #aa7049;
	background: #aa7049;
}

.progress {
	height: 50%;
	width: 190px;
	position: absolute;
	left: 2px;
	top: -1px;
	border-bottom: 2px solid #000000;
	z-index: -1;
}

.percent {

	width: 0%;
	position: absolute;
	top: 0px;
	left: 0px;

	height: 100%;
	border-bottom: 2px solid #aa7049;
	z-index: 1;

	transition: width 1s;
}








/*
a {text-decoration:none;outline: none;border: none;margin:-1px;}
a:focus{outline:none;}
a:hover {color:#0d0d0d;background:#505055;outline: none;border: none;}
a.active { text-decoration:none; color:#533333;}
a.inactive:hover {color:#0d0d0d;background:#bb0000}
a.active:hover {color:#bb0000;background:#0f0f0f}
a.inactive:hover { text-decoration:none; color:#0d0d0d; background:#bb0000}
fix2*/

a {
	float: top;
	font-family: "Cond";
	text-shadow: 0px 0px 3px #a80404;
	color: #ac3b49;
	text-decoration: none;
	outline: none;
	border: none;
	font-size: 90%;
}

a:hover {
	color: #f662ff;
	text-shadow: 0px 0px 3px #ae58be;
	background: rgba(255, 0, 0, 0.2);
	outline: none;
	border: none;
	font-weight: bold;
}

a.dim {
	color: #707070;
	text-shadow: 0px 0px 3px #707070;
}

/*fix1 */

slink {
	float: top;
	font-family: "Cond";
	text-shadow: 0px 0px 3px #a8a804;
	color: #acac49;
	text-decoration: none;
	outline: none;
	border: none;
	font-size: 90%;
}

slink:hover {
	color: #f6ffff;
	text-shadow: 0px 0px 5px #999;
	outline: none;
	border: none;
	font-weight: bold;
}

slink.dim {
	color: #707070;
	text-shadow: 0px 0px 3px #707070;
}

.snamea {
	color: #b9439f;
	font-weight: bold;
}

.activefight2 {
	color: #dc3bcb;
}


.sname {
	opacity: 0.8;
	font-weight: bold;
}

#ptable {
	border: none;
	border-collapse: collapse;

}

#ptable th {
	width: 50%;
	background-color: rgba(0, 0, 0, 0.4);
	color: #fff;
	font-weight: bold;
}

#ptable tr {
	border: none;
	border-colloapse: collapse;
}

#ptable tr td {
	background-color: rgba(40, 20, 20, 0.25);
}

#ptable tr td:nth-child(2n) {
	background-color: rgba(50, 50, 50, 0.25);
}

#ptable td+td {
	border-left: 2px solid rgba(60, 60, 60, 0.5);
}

.termtab {
	width: 90%;
	border-collapse: collapse;
}

.termint {
	padding: 5px;
	background: rgba(255, 255, 0, 0.05);
}

.termint:nth-child(2n) {
	background: rgba(150, 150, 150, 0.05);
}


h1 {
	font-size: 175%;
}

h2 {
	margin-bottom: 0px;
	font-size: 115%;
	color: #c75e67;
}

IMG.big {
	width: 32px;
	height: 32px
}

IMG {
	width: 16px;
	height: 16px;
}

.chatimg {
	height: 24px;
	width: 24px;
	position: relative;
	background-image: url('itembackground.png');
	background-size: 100% auto;
	top: 7px;
	margin-top: -12px;
	margin-left: -2px;
	margin-right: -2px;
}


.chatimg:hover {
	height: 32px;
	width: 32px;
	top: 8px;
	margin-top: -8px;
	margin-left: -3px;
	margin-right: -3px;
}

.hiddenmessage {
	color: #575757;
	text-shadow: 0px 0px 0px #fff;
}

book {
	color: #b1a667;
	text-shadow: 0px 0px 2px #b1a667;
	opacity: 0.6;
}

b {
	text-shadow: 0px 0px 2px rgba(255, 0, 0, 0.4);
}

.admin {
	color: rgba(140, 140, 140, 0.7);
}

.magentatext {
	color: #ff00c0;
}

.customemote {
	color: #898f5d;

}

.lowpain {
	color: #85864e;

}

.say {
	font-size: 95%;
	margin: 3px;
	color: #bfc2be;
}

.highlightredtext {
	color: #f08e8e;
	text-shadow: 0px 0px 3px rgba(255, 0, 0, 0.9);
}

.activefight {
	color: #e755db;
}

.observefight {
	color: #a72b2b;
}

.greentext {
	color: #5bfd5b;
}

.nicebleak {
	color: #936d53;
}

.nice {
	color: #3bbb3b;
}

.redtext {
	color: #fd5b5b;
}

.bluetext {
	color: #635fcf;
}

.darkredtext {
	color: #9d1b1b;
}

.ovr {
	position: relative;
	display: inline-block;
}


.ovr:hover .htxt {
	visibility: visible;
}

@keyframes soap {
	0% {
		opacity: 0.5;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0.5;
	}
}

@keyframes shaker {
	0% {
		transform: skewX(-15deg);
	}

	25% {
		transform: skewX(15deg);
	}

	50% {
		transform: skewX(-15deg);
	}

	75% {
		transform: skewX(15deg);
	}

	100% {
		transform: skewX(0deg);
	}
}


.hint {
	width: 80%;
	border: 1px solid #333;
	padding: 5px;
	position: absolute;
	top: 0px;
	opacity: 0.95;
	right: 16px;
	pointer-events: none;
	color: #bbbbbb;
	font-size: 95%;
	z-index: 100;
	background-color: #281210;
	background-image: url('helpbg.png');
	box-shadow: 3px 3px 10px #111;
}

.statustext {
	color: #6e6e6e;
}

.shaketext {
	color: #ffffff;
	animation: .4s shaker infinite alternate;
}

.soapytext {
	color: #ffbbff;
}

.name {
	font-weight: bold;
}

.name.name1 {
	color: #938532;
}

.name.name2 {
	color: #a49e6f;
}

.name.name3 {
	color: #918d6a;
}

.name.name4 {
	color: #328e8f;
}

.name.name5 {
	color: #3ba48d;
}

.name.name6 {
	color: #007196;
}

.name.name7 {
	color: #328e8f;
}

.name.name8 {
	color: #c36d73;
}

.name.name9 {
	color: #dd2424;
}

.name.name10 {
	color: #696969;
}


.htxt {
	visibility: hidden;
	width: 120px;
	pointer-events: none;
	background-color: #281210;
	background-image: url('helpbg.png');
	opacity: 0.95;
	color: #bbbbbb;
	font-size: 75%;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;

	margin-left: -60px;
	box-shadow: 3px 3px 10px #111;
}

kbd {
	display: inline-block;
	border: 1px solid #413930;
	border-radius: 4px;
	padding: 0.1em 0.5em;
	color: #000;
	font-weight: bold;
	margin: 0 0.2em;
	box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #5e574f inset;
	background-color: #777;
}

.htxr {
	left: 50%;
	bottom: 100%;
}

.htxl {
	top: -5px;
	right: 105%;
}

#shadow {
	background-repeat: repeat-x;
	z-index: -1;
	background-image: url('chatshadow.png');
	position: absolute;
	height: 610px;
	top: -10px;
	left: -5px;
	width: 1024px;
}

#scrollbar_container {
	position: absolute;
	left: 5px;
	bottom: 4%;
	width: 100%;
	height: 96%;
	border-bottom: 1px solid black;
}

.scrollbar_track {
	position: absolute;
	top: 16px;
	right: 8px;
	width: 16px;
	background-image: url('chatscrollbar-bg.png');

	cursor: move;
}

.scrollbar_handle {
	width: 14px;
	right: 8px;
	position:absolute;
	overflow: auto;

	background-image: url('chatscroller-m.png');
	cursor: move;
}

#scrollbar_content {
	overflow: hidden;
	left: 10px;
	right: 8px;
	bottom: 0px;
	width: 100%;
	height: 100%;
}

.infodiv {
	padding: 10px;
	padding-right: 10px;
	margin-left: 20px;
	width: 80%;
	background-color: rgba(50, 50, 50, 0.3);
	border: 1px solid rgba(50, 50, 50, 0.3);
}

.infodiv.mood {}

hr {
	color: #444;
	border-color: #444;
	width: 80%;
}

.scrollbart {
	position: relative;
	width: 14px;
	height: 50%;
	overflow: auto;
	background-image: url('chatscroller-t.png');
	background-repeat: no-repeat;
	cursor: move;
	border: 0px;
	padding: 0px;
	margin: 0px;
}

.scrollbarb {
	position: relative;
	width: 14px;
	height: 50%;
	overflow: auto;
	background-image: url('chatscroller-b.png');
	background-repeat: no-repeat;
	background-position: left bottom;
	cursor: move;
	border: 0px;
	padding: 0px;
	margin: 0px;
}



.scrollbtnup {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 1px;
	right: 8px;
	overflow: auto;
	background-image: url('chatscrollbar-scrollup.png');
}

.scrollbtndown {
	width: 16px;
	height: 16px;
	position: absolute;
	bottom: 0px;
	right: 8px;
	overflow: hidden;
	background-image: url('chatscrollbar-scrolldown.png');

}

.italic,
.italics,
.emote {
	font-style: italic;
}

.highlight {
	background: yellow;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #a4bad6;
	font-family: Georgia, Verdana, sans-serif;
}

em {
	font-style: normal;
	font-weight: bold;
}

.ooc {
	color: #9390be;
	font-weight: bold;
	text-shadow: 0.5px;
}

.name {
	font-weight: bold;
}

.secradio {
	color: #b41c1c;
}

.engradio {
	color: #a66300;
}

.medradio {
	color: #008160;
}

.sciradio {
	color: #993399;
}

.supradio {
	color: #5f4519;
}

.boldred {
	font-family: cond, sans-serif;
	text-shadow: 0px 0px 3px #a80404;
	color: #ac3b49;
	font-weight: bold;
	text-decoration: none;
	outline: none;
	border: none;
	font-size: 94%;
}

.name {
	font-weight: bold;
}

.alert {
	color: #d82020;
}

.specialhbold {
	color: #dd332b;
	font-weight: bold;
	text-shadow: 0px 0px 2px rgba(255, 0, 0, 0.4);
}

.specialbold {
	color: #aa332b;
	font-weight: bold;
	text-shadow: 0px 0px 2px rgba(255, 0, 0, 0.4);
}

.special {
	color: #aa332b;
}

h1.alert,
h2.alert {
	color: #a4bad6;
}

.jogtowalk {
	color: #49514c;
}

.hungerasterisks {
	color: #6e6c69;
	font-weight: bold;
}

.hunger {
	color: #756a6a;
	font-weight: bold;
	font-size: 98%;
	text-shadow: 0px 0px 2px rgba(255, 0, 0, 0.4);
}

.emote {
	font-style: italic;
}

.baronboldoutlined {
	color: #8d8785;
	font-weight: bold;
	text-shadow: 0px 0px 2px rgba(255, 0, 0, 0.4);
}

.barondarker {
	color: #45413c;
}

.oocnew {
	color: #9494b5;
	font-weight: bold;
	text-shadow: 0px 0px 2px rgba(34, 49, 119, 0.3);
	margin-left: 3px;
}

.thuxooc {
	color: #fa0202;
	margin-left: 3px;
	font-size: 112%;
	font-family: book;
}



.commsnob {
	color: #63278b
}

.commsgar {
	color: #439144;
}




.commsinq {
	color: #848481;
}


.commsbold {
	font-weight: bold;
	text-shadow: 0px 0px 8px rgba(255, 0, 0, 0.4);
}

.poison {
	color: #20fa28
}

.sing {
	color: #00ffff
}


.commsname {
	font-weight: normal;
	margin-left: 1px;
	text-shadow: 0px 0px 8px rgba(255, 0, 0, 0.4);
}

.comms {
	color: #d78340;
}

.itsmom {
	color: #9e322e;
	font-weight: bold;
	font-size: 125%
}


.goodlight {
	color: #fffd6b;
	font-weight: bold;
	text-shadow: 0px 2px 5px rgba(255, 0, 0, 0.4);
	letter-spacing: 2px;
}

.badlight {
	color: #cf6932;
	font-weight: bold;
	text-shadow: 0px 2px 5px rgba(255, 0, 0, 0.4);
	letter-spacing: 2px;
}

.combat {
	color: #fd5b5b;
}

.combatbold {
	color: #fd5b5b;
	font-weight: bold;
	text-shadow: 0px 0px 2px rgba(255, 0, 0, 0.4);
}

.hit {
	color: #e755db;
}

.hitbold {
	color: #e755db;
	font-weight: bold;
	text-shadow: 1px;
}

.crithit {
	color: #e755db;
	font-weight: bold;
	font-size: 145%;
	text-shadow: 1px;
}

.malfunction {
	color: #8b8780;
	font-size: 135%;
}

.combatsmaller {
	color: #fd5b5b;
	font-size: 85%;
}

.hitboldsmaller {
	color: #e755db;
	font-size: 87%;
	font-weight: bold;
}

.hitsmaller {
	color: #e755db;
	font-size: 85%;
}

.holyshituractuallysogooditmakesmecringedudelol {
	color: #899090;
	font-weight: bold;
	text-shadow: 0px 0px 2px rgba(255, 0, 0, 0.4);
}

.perks {
	color: #966e0b;
	font-size: 87%;
}

.notthatbadactually {
	color: #899090;
}



.combatmodes {
	color: #990084;
}

.badstate {
	color: #f02e31;
}

.horriblestate {
	color: #ff00c0;
	text-shadow: 0px 0px 5px #ff00c0;
	font-size: 110%;
}

.missingorpain {
	color: #ff00c0;
	font-weight: bolder;
	font-size: 125%;
}

.uppertext {
	color: #867c75;
	font-weight: bold;
	text-shadow: 0px 0px 2px rgba(255, 0, 0, 0.4);
}

.statustext {
	color: #6e6e6e;
	text-shadow: 0px 0px 1px #00000f;
}

.combatglow {
	color: #fd5b5b;
	text-shadow: 0px 0px 2px rgba(167, 43, 43, 0.4);
}

.combatglowplus {
	color: #fd5b5b;
	text-shadow: 0px 0px 4px red;
}

.excommun {
	color: #f02e31;
	text-shadow: 0px 0px 5px red;
	font-size: 125%;
}

.passiveglow {
	color: #5d52cf;
	text-shadow: 0px 0px 2px rgba(93, 82, 207, 0.4);
}

.itsatrap {
	color: #9b0897;
	text-shadow: 0px 0px 1px #9b0897;
	font-size: 125%;
}

.itsatrap2 {
	color: #9b0897;
	text-shadow: 0px 0px 1px #9b0897;
	font-size: 140%;
	font-weight: bolder;
}

.cavedoze {
	color: #ebbd34;
	text-shadow: 0px 0px 1px #ebbd34;
}

.moodboxtext {
	color: #7b7a7e;
	font-size: 95%;
}

.magentatext {
	color: #ff00c0;
	font-weight: bold;
	text-shadow: 0px 0px 2px rgba(255, 0, 0, 0.4);
}

.magentatextbig {
	color: #ff00c0;
	font-weight: bold;
	text-shadow: 0px 0px 2px rgba(255, 0, 0, 0.4);
	font-size: 120%;
}

.magentasmall {
	color: #e755db;
	font-weight: bold;
	text-shadow: 0px 0px 2px rgba(255, 0, 0, 0.4);
	font-size: 80%;
}

.lpexamine {
	color: #85864e;
}

.redtext {
	color: #fd5b5b;
	font-weight: bold;
	text-shadow: 0px 0px 2px rgba(255, 0, 0, 0.4);
}

.missingnew {
	color: #e755db;
	font-weight: bold;
	text-shadow: 0px 0px 2px rgba(255, 0, 0, 0.4);
}



.sayverb {
	color: #bfc2be;
	font-size: 90%;
	font-style: italic;
}

.saybasic {
	color: #bfc2be;
	font-size: 100%;
}

.saybold {
	color: #bfc2be;
	font-weight: bold;
	text-shadow: 0px 0px 2px rgba(255, 0, 0, 0.4);
}

.mebold {
	color: #898f5d;
	font-weight: bold;
	text-shadow: 0px 0px 2px rgba(255, 0, 0, 0.4);
}

.mebasic {
	color: #83834f;
}


.saybigger {
	color: #bfc2be;
	font-size: 115%;
}



.sayname1 {
	color: #938532;
	font-weight: bold;
	margin-left: 4px;
}

.sayname2 {
	color: #a49e6f;
	font-weight: bold;
	margin-left: 4px;
}

.sayname3 {
	color: #918d6a;
	font-weight: bold;
	margin-left: 4px;
}

.sayname4 {
	color: #328e8f;
	font-weight: bold;
	margin-left: 4px;
}

.sayname5 {
	color: #3ba48d;
	font-weight: bold;
	margin-left: 4px;
}

.sayname6 {
	color: #007196;
	font-weight: bold;
	margin-left: 4px;
}

.sayname7 {
	color: #328e8f;
	font-weight: bold;
	margin-left: 4px;
}

.sayname8 {
	color: #c36d73;
	font-weight: bold;
	margin-left: 4px;
}

.sayname9 {
	color: #dd2424;
	font-weight: bold;
	margin-left: 4px;
}

.sayname10 {
	color: #696969;
	font-weight: bold;
	margin-left: 4px;
}



.goodmood {
	color: #635fcf;
	font-weight: bold;
	font-size: 101%;
}

.badmood {
	color: #fd5b5b;
	font-weight: bold;
	font-size: 101%;
}

.ifeelsick {
	color: #3bbb3b;
	font-weight: bold;
	font-size: 101%;
}



.firstdiv {
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	*zoom: 1;
	*display: inline;
}

.box {
	display: inline-block;
	min-width: 10px;
	width: 265px;
	text-align: left;
	padding: 10px;
	font-size: 15px;
	vertical-align: middle;
	background-color: rgba(50, 50, 50, 0.3);
	border: 1px solid rgba(50, 50, 50, 0.3);
	*zoom: 1;
	*display: inline;
}

.firstdivexamineplyr {
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	*zoom: 1;
	*display: inline;
}

.boxexamineplyr {
	display: inline-block;
	min-width: 10px;
	width: 280px;
	text-align: left;
	padding: 10px;
	font-size: 15px;
	vertical-align: middle;
	background-color: rgba(50, 50, 50, 0.3);
	border: 1px solid rgba(50, 50, 50, 0.3);
	*zoom: 1;
	*display: inline;
}

.firstdivexamine {
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	*zoom: 1;
	*display: inline;
}

.boxexamine {
	display: inline-block;
	min-width: 10px;
	width: 275px;
	text-align: left;
	padding: 10px;
	font-size: 15px;
	vertical-align: middle;
	background-color: rgba(50, 50, 50, 0.3);
	border: 1px solid rgba(50, 50, 50, 0.3);
	*zoom: 1;
	*display: inline;
}

.firstdivmood {
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	*zoom: 1;
	*display: inline;
}

.moodbox {
	display: inline-block;
	min-width: 10px;
	width: 280px;
	text-align: left;
	padding: 10px;
	font-size: 15px;
	vertical-align: middle;
	background-color: rgba(50, 50, 50, 0.3);
	border: 1px solid rgba(50, 50, 50, 0.3);
	*zoom: 1;
	*display: inline;
}

.linediv {
	display: inline-block;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.linexd {
	border: none;
	height: 1px;
	float: center;
	margin-left: auto !important;
	margin-right: auto !important;
	color: #444;
	width: 80%;
	border-bottom: 1px solid #444;
}

.firstdivskill {
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	*zoom: 1;
	*display: inline;
}

.skilldiv {
	display: inline-block;
	min-width: 10px;
	width: 270px;
	text-align: left;
	padding: 10px;
	font-size: 15px;
	vertical-align: middle;
	background-color: rgba(50, 50, 50, 0.3);
	border: 1px solid rgba(50, 50, 50, 0.3);
	*zoom: 1;
	*display: inline;
}

.objectivesbig {
	color: rgba(255, 0, 0, 0.4);
	font-weight: bold;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);

}

.objectives {
	color: silver;

}

.dreamershitfuckcomicao1 {
	color: #bfc2a3;
	font-weight: bold;
	text-shadow: 0px 0px 2px rgba(255, 0, 0, 0.4);
}

.dreamershit {
	color: #bfc2a3;
}

.dreamershitbutitsbigasfuck {
	color: #bfc2a3;
	font-size: 140%;
}

.dreamershitbutitsbigasfuckanditsboldtoo {
	font-size: 140%;
	color: #99918a;
	font-weight: bold;
	text-shadow: 0px 0px 2px rgba(255, 0, 0, 0.4);
}

.dreamershitbutitsactuallypassivebutitactuallyisbigandbold {
	color: #5d52cf;
	font-size: 140%;
	text-shadow: 0px 0px 2px rgba(255, 0, 0, 0.4);
}

.ricagames {
	color: #94473d;
	font-weight: bold;
}

.highlighttext {
	color: #f08e8e;
	text-shadow: 0px 0px 3px rgba(255, 0, 0, 0.9);
}

.hugepain {
	color: #f02e31;
	text-shadow: 0px 0px 5px rgba(255, 0, 0, 0.4);
	font-size: 130%;
	animation: phobia 750ms infinite;
}

.attack {
	color: #ff0000;
}

.moderate {
	color: #cc0000;
}

.disarm {
	color: #990000;
}

.passive {
	color: #660000;
}

.lobby {
	color: #747478;
	font-size: 2em;
	font-weight: bolder;
	text-shadow: 2px 2px 4px #742f2d;
}

.lobbyy {
	color: #744;
	font-size: 2em;
	font-weight: bolder;
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 1);
}

.guardianlobby {
	color: #9903c7;
	font-weight: bold;
	text-shadow: #9903c7 0 0 10px;
}

.comradelobby {
	color: #5659e2;
	font-weight: bold;
	text-shadow: #5659e2 0 0 10px;
}

.adminlobby {
	color: #26a506;
	font-weight: bold;
	text-shadow: #26a506 0 0 10px;
}

.villainlobby {
	color: #a35555;
	font-weight: bold;
	text-shadow: #853d3d 0 0 10px;
}

.danger {
	color: #c51e1e;
}

.warning {
	color: #c51e1e;
	font-style: italic;
}

.subtle {
	color: #4343ca;
	font-size: 75%;
	font-style: italic;
}

.boldannounce {
	color: #c51e1e;
	font-weight: bold;
}

.rose {
	color: #ff5050;
}

.info {
	color: #6685f5;
}

.notice {
	color: #6685f5;
}

.alium {
	color: #00ff00;
}

.cult {
	color: #aa1c1c;
}

.baron {
	color: #8d8785;
}

.bname {
	color: #99918a;
	font-weight: bold;
	text-shadow: 0px 0px 2px rgba(255, 0, 0, 0.4);
}

.legendary {
	color: #3abb3d;
	font-weight: bold;
	text-shadow: 0px 0px 3px #3abb3d;
}

.pukes {
	color: #487f19;
}

.pukebold {
	color: #376e15;
	font-weight: bold;
	text-shadow: 0px 0px 2px rgba(255, 0, 0, 0.4);
}

.passivebold {
	color: #635fcf;
	font-weight: bold;
	text-shadow: 0px 0px 2px rgba(255, 0, 0, 0.4);
	margin-left: 2px;
}

.passive {
	color: #635fcf;
	text-shadow: 1px;
}

.erp {
	color: #801b74;
	text-shadow: 0px 0px 4px #801b74;
	font-size: 102%;
}

.erpbold {
	color: #801b74;
	font-weight: bold;
	text-shadow: 0px 0px 1px #801b74;
	font-size: 95%;
	margin-left: 3px;
}

.cumzone {
	color: #801b74;
	font-weight: bolder;
	text-shadow: 0px 0px 2px #801b74;
	font-size: 95%;
	margin-left: 4px;
}

.graytext {
	color: #909090;
	text-shadow: 1px;
}

.graytextboldnotoutlined {
	color: #909090;
	font-weight: bold;
	text-shadow: 0px 0px 1px rgba(255, 0, 0, 0.4);
}

.graytextbold {
	color: #909090;
	font-weight: bold;
	text-shadow: 0px 0px 2px rgba(255, 0, 0, 0.4);
}

.ravenheartfortress {
	color: #744;
	font-family: gothic;
	line-height: 35px;
	margin: 0;
	font-size: 175%;
	margin-top: 0;
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 1);
	margin-bottom: 5px;
}

.excomm {
	color: #c75e67;
	font-weight: bold;
	font-size: 135%;
	text-shadow: 2px 2px #00000f;
}

.decree {
	color: #98514f;
	font-size: 115%;
}

.examine {
	color: #717741;
	font-size: 100%;
}

.looksat {
	color: #717741;
	font-size: 85%;
}




.passiveboldsmaller {
	color: #635fcf;
	font-weight: bold;
	font-size: 85%;
	text-shadow: 0px 0px 2px rgba(255, 0, 0, 0.4);
	margin-left: 2px;
}

.passivesmaller {
	color: #635fcf;
	font-size: 85%;
}

.radiotalknearby {
	color: #a097a6;
	font-size: 86%;
	font-style: italic;
}

.examinebold {
	color: #717741;
	font-weight: bold;
	font-size: 100%;
	text-shadow: 0px 0px 2px rgba(255, 0, 0, 0.4);
	margin-left: 2px;
}

.looksatbold {
	color: #717741;
	font-weight: bold;
	font-size: 80%;
	text-shadow: 0px 0px 2px rgba(255, 0, 0, 0.4);
	margin-left: 3px;
}

.graytextsmaller {
	color: #909090;
	font-size: 85%;
}


.alien {
	color: #855d85;
}

.changeling {
	color: #059223;
	font-style: italic;
}

.rough {
	font-family: "Trebuchet MS", cursive, sans-serif;
	color: #7c6256
}

.say_quote {
	font-family: Georgia, Verdana, sans-serif;
}

.interface {
	color: #750e75;
}

.good {
	color: #4f7529;
	font-weight: bold;
}

.bad {
	color: #ee0000;
	font-weight: bold;
}


.motd					{color: #638500;	font-family: Pterra;}
.motd h1, .motd h2, .motd h3, .motd h4, .motd h5, .motd h6
	{color: #638500;	text-decoration: underline;}
.motd a, .motd a:link, .motd a:visited, .motd a:active, .motd a:hover
	{color: #638500;}
h1.alert, h2.alert	{color: #c9c1ba;font-family: Pterra, TrueType;}
.italics				{font-style: italic;}

.bold					{font-weight: bold;}

.prefix					{font-weight: bold;}

.ooc					{color: #c5c5c5;	font-weight: bold; font-family: Pterra;}
.adminobserverooc		{color: #cca300;	font-weight: bold; font-family: Pterra;}
.adminooc				{color: #4972bc;	font-weight: bold;}

.adminsay				{color:	#FF4500;	font-weight: bold;}
.admin					{color: #386aff;	font-weight: bold;}

.name					{					font-weight: bold;}

.say					{font-family: Pterra;}
.deadsay				{color: #e2c1ff;}
.binarysay				{color: #20c20e;	background-color: #000000;	display: block;}
.binarysay a			{color: #00ff00;}
.binarysay a:active, .binarysay a:visited {color: #88ff88;}
.radio					{color: #1ecc43;}
.sciradio				{color: #c68cfa;}
.comradio				{color: #5177ff;}
.secradio				{color: #dd3535;}
.medradio				{color: #57b8f0;}
.engradio				{color: #f37746;}
.suppradio				{color: #b88646;}
.servradio				{color: #6ca729;}
.syndradio				{color: #8f4a4b;}
.centcomradio			{color: #2681a5;}
.aiprivradio			{color: #d65d95;}
.redteamradio			{color: #ff4444;}
.blueteamradio			{color: #3434fd;}


.yell					{font-weight: bold;}

.alert					{color: #d82020;}

.emote					{color: #b1bb9f; font-size: 75%;}

.crit					{color: #c71d76;}
.userdanger				{color: #c71d76;	font-weight: bold;	font-size: 120%;}
.danger					{color: #b9322b;	font-weight: bold;}
.warning				{color: #bb4e28;	font-size: 75%;}
.boldwarning			{color: #bb4e28;	font-weight: bold}
.announce				{color: #c51e1e;	font-weight: bold;}
.boldannounce			{color: #c51e1e;	font-weight: bold;}
.greenannounce			{color: #059223;	font-weight: bold;}
.rose					{color: #e7bed8;}
.love					{color: #e7bed8;	font-size: 75%;}
.info					{color: #a9a5b6;						font-size: 75%; line-height:1}
.biginfo				{color: #a9a5b6;}
.notice					{color: #f1d669;}
.boldnotice				{color: #f1d669;	font-weight: bold;}
.smallnotice			{color: #f1d669;	font-size: 75%;}
.hear					{color: #6685f5;	font-style: italic;}
.adminnotice			{color: #6685f5;}
.adminhelp				{color: #ff0000;	font-weight: bold;}
.unconscious			{color: #c9c1ba;	font-weight: bold;}
.suicide				{color: #ff5050;	font-style: italic;}
.green					{color: #80b077;}
.smallgreen				{color: #80b077;	font-size: 75%;}
.boldgreen				{color: #80b077;	font-weight: bold;}
.red					{color: #b84d47;}
.smallred				{color: #b84d47;	font-size: 75%;}
.boldred				{color: #b84d47;	font-weight: bold;}
.blue					{color: #6a8cb7;}
.purple					{color: #967aaf;}
.nicegreen				{color: #9bccd0;}
.cult					{color: #960000;}
.cultlarge				{color: #960000;	font-weight: bold;	font-size: 3;}
.cultsmall				{color: #960000;	font-size: 75%;}
.narsie					{color: #960000;	font-weight: bold;	font-size: 12;}
.narsiesmall			{color: #960000;	font-weight: bold;	font-size: 6;}
.colossus				{color: #7F282A;	font-size: 5;}
.hierophant				{color: #660099;	font-weight: bold;	font-style: italic;}
.hierophant_warning		{color: #660099;	font-style: italic;}
.purple					{color: #5e2d79;}
.holoparasite			{color: #35333a;}
.beautifulmasc			{color: #083eab;}
.beautifulfem			{color: #d70a74;}
.beautifulnb			{color: #9656c9;}

.revennotice			{color: #1d2953;}
.revenboldnotice		{color: #1d2953;	font-weight: bold;}
.revenbignotice			{color: #1d2953;	font-weight: bold;	font-size: 3;}
.revenminor				{color: #823abb}
.revenwarning			{color: #760fbb;	font-style: italic;}
.revendanger			{color: #760fbb;	font-weight: bold;	font-size: 3;}

.deconversion_message	{color: #5000A0;	font-size: 3;	font-style: italic;}

.ghostalert				{color: #5c00e6;	font-style: italic;	font-weight: bold;}

.alien					{color: #543354;}
.noticealien			{color: #00c000;}
.alertalien				{color: #00c000;	font-weight: bold;}
.changeling				{color: #800080;	font-style: italic;}

.spider					{color: #4d004d;}

.interface				{color: #330033;}

.sans					{font-family: "Comic Sans MS", cursive, sans-serif;}
.papyrus				{font-family: "Papyrus", cursive, sans-serif;}
.robot					{font-family: "Courier New", cursive, sans-serif;}

.human 					{font-family: "Honoka Mincho", "Pterra";}
.elf					{font-family: "Dauphin", cursive, "Pterra";}
.dwarf 					{font-family: "MasonAlternate", "Pterra";}
.sandspeak 				{font-family: "Arabolical", "Pterra";}
.delf 					{font-family: "Dauphin", "Pterra";}
.hellspeak				{font-family: "Xaphan", "Pterra"; font-size: 110%}
.undead					{font-family: "FriskyVampire", "Pterra";}
.orc					{font-family: "Thief by The Riddler", Pterra;}
.beast					{font-family: "Thief by The Riddler", Pterra;}
.reptile				{font-family: "Kingthings Petrock", Pterra; font-size: 120%;}
.lupian					{font-family: "Emperialisme", Pterra; font-size: 120%;}

.torture				{color: #42ff20}

.command_headset		{font-weight: bold;	font-size: 3;}
.small					{font-size: 50%;}
.smallyell				{font-size: 70%;font-family: Pterra;}
.big					{font-size: 120%;}
.reallybig				{font-size: 180%;}
.extremelybig			{font-size: 220%;}
.greentext				{color: #00FF00;}
.redtext				{color: #FF0000;}
.clown					{color: #FF69Bf;	font-size: 3;	font-family: "Comic Sans MS", cursive, sans-serif;	font-weight: bold;}
.his_grace				{color: #15D512;	font-family: "Courier New", cursive, sans-serif;	font-style: italic;}
.hypnophrase			{color: #3bb5d3;	font-weight: bold;	animation: hypnocolor 1500ms infinite;}

.phobia					{color: #dd0000;	font-weight: bold;}

.icon					{height: 1em;	width: auto;}

.memo					{color: #638500;	text-align: center;}
.memoedit				{text-align: center;	font-size: 2;}
.abductor				{color: #800080;	font-style: italic;}
.mind_control			{color: #A00D6F;	font-size: 3;	font-weight: bold;	font-style: italic;}
.slime					{color: #00CED1;}
.drone					{color: #848482;}
.monkey					{color: #975032;}
.swarmer				{color: #2C75FF;}
.resonate				{color: #298F85;}

.monkeyhive				{color: #774704;}
.monkeylead				{color: #774704;	font-size: 2;}

.dead					{color: #b280df;}
.bloody					{color: #cc0f0f;}
.artery					{color: #9B5455;}
.infection				{color: #77c72b;}
.necrosis				{color: #558d20;}
.bone					{color: #e3dac9;}
.love_low					{color: #eac8de;	font-size: 75%;}
.love_mid					{color: #e9a8d1;	font-size: 75%;}
.love_high					{color: #f05ee1;	font-size: 75%;}
.love_extreme					{color: #d146f5;	font-size: 75%;}


@keyframes hypnocolor {
	0% {
		color: #202020;
	}

	25% {
		color: #4b02ac;
	}

	50% {
		color: #9f41f1;
	}

	75% {
		color: #541c9c;
	}

	100% {
		color: #7adbf3;
	}
}

.phobia {
	color: #dd0000;
	font-weight: bold;
	animation: phobia 750ms infinite;
}

@keyframes phobia {
	0% {
		color: #f75a5a;
	}

	50% {
		color: #dd0000;
	}

	100% {
		color: #f75a5a;
	}
}

.icon {
	height: 1em;
	width: auto;
	transition: transform .3s;
}

.icon:hover {
	transform: scale(2);
}

.text-normal {
	font-weight: normal;
	font-style: normal;
}

.hidden {
	display: none;
	visibility: hidden;
}

.ml-1 {
	margin-left: 1em;
}

.ml-2 {
	margin-left: 2em;
}

.ml-3 {
	margin-left: 3em;
}

#newMessages {
	position: fixed;
	display: block;
	bottom: 4%;
	right: 8px;
	padding: 8px;
	text-decoration: none;
	font-variant: small-caps;
	font-size: 1.1em;
	font-weight: bold;
}

#newMessages i {vertical-align: middle; padding-left: 3px;}

#loading {
	position: fixed;
	width: 300px;
	height: 150px;
	text-align: center;
	left: 50%;
	top: 50%;
	margin: -75px 0 0 -150px;
}

#loading i {display: block; padding-bottom: 3px;}
